.home-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
}

.home-content {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure content appears above overlay */
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
